# Entorno virtual
venv/
env/

# Caché de Python
__pycache__/
*.pyc

# Bases de datos y Respaldos (No rastrear datos reales de la pastelería)
data/
backups/
data/*.db
data/*.sqlite3

# Logs de errores
logs/

# Archivos de sistema operativo
.DS_Store
Thumbs.db

# Archivos de PyInstaller (Ejecutables)
build/
dist/
*.spec

# Variables de entorno y configuraciones locales
.env